body {
    p, span, strong {
        color: #595959;
    }
   
}
.box {
    text-align: center;
    &:hover {
        .tag {
            background-color: #7D5D87;
            color: #fff;
        }
    }
    .tag {
        padding: 10px;
        background-color: #ddd;
    }
    img {
        width: 100%;
    }
}

.blog-post {
    img {
        width: 100%;
    }
    strong {
        display: block;
        margin-top: 10px;
        color: #7D5D87;
    }
    span {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
    }
}
.article {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    p {
        margin-bottom: 0;
    }
    .learn-more {
        color: #7D5D87!important;
        font-size: 14px;
    }
    &:last-child {
        border-bottom: 0;
    }
}
.article-img {
    padding: 5px;
    border: 1px solid;
     img {
         width: 100%;
     }
}
#carouselExampleControls {
    width: 100%;
    margin: 40px 0;
    .carousel-caption {
        padding-left: 40px;
        width: 30%;
        text-align: left;
        left: 0;
        a {
            padding: 10px;
            background-color:  #7D5D87;
            border-radius: 20px;
            color: #fff!important;
        }
    }
    img {
        border-radius: 50%;
        margin: 0 50%;
        border: 20px solid #7D5D87;
    }
    h1 {
        color: #595959;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: invert(1);
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 1000;
    }
  
}
.title {
    display: block;
    font-size: 20px;
    padding: 30px 0 10px 0;
    border-bottom: 1px solid;
    margin-bottom: 30px;
}
